:root {
  --logo-font-family: "ABC Estragon Variable Edu";
  --logo-font-size: 28px;
  --nav-text-font-family: "Suisse Int'l";
  --nav-text-font-size: 24px;
  --copy-text-font-family: "Suisse Int'l";
  --copy-text-font-size: 20px;
  --info-text-font-family: "Suisse Int'l";
  --info-text-font-size: 16px;
  --footer-text-font-family: "Suisse Int'l Mono";
  --footer-text-font-size: 10px;
  --footer-text-weight: 150;
  --color1: #000;
  --color2: rgb(255, 0, 0);
  --color3: #fff;
  --color4: rgb(0, 255, 255);
}

@font-face {
  font-family: "ABC Estragon Variable Edu";
  src: url("../assets/fonts/ABCEstragonVariableEdu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("../assets/fonts/SuisseIntl-Book-WebXL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l Mono";
  src: url("../assets/fonts/SuisseIntlMono-Regular-WebXL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}